.App {
  text-align: center;
  background-color: black;
}

.title {
  background-color: #282c34;
  color: white;
}

.song {
  background-color: #61dafb;
  margin-left: 25%;
  margin-right: 25%;
}

.album-art {
  height: 20vw;
  width: 20vw;
}
